<div class="marcopolo">
    <!-- BACKGROUND IMAGE -->
    <div class="bg-marco">
        <div class="bg-text text-center">
            <h1>MARCO POLO</h1>
            <button class="btn btn-light text-uppercase">
                <i class="fas fa-eye"></i>&nbsp;View Demo</button>
        </div>
        <div class="bottom-text text-center">
            <p>"We achieve more when we chase the dream instead of competition."</p>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="container">
        <div class="block">
            <!-- TEXT -->
            <div class="marco-content text-center" ng-repeat="m in marcocontent">
                <h2 class="text-uppercase">{{m.title}}</h2>
                <p>{{m.subtitle}}</p>
                <img src="img/hr.png">
            </div>

            <!-- CONTACT US -->
            <div class="row">
                <div class="marco-content col-sm-6 text-center">
                    <h2 class="text-uppercase">Want to know more?</h2>
                    <button class="btn btn-primary text-uppercase">
                        <i class="fas fa-edit"></i>&nbsp;Share Your Feedback</button>
                </div>

                <!-- FACEBOOK -->
                <div class="marco-content col-sm-6 text-center">
                    <h2 class="text-uppercase">Have some thoughts?</h2>
                    <button class="btn btn-primary text-uppercase">
                        <i class="fas fa-edit"></i>&nbsp;Share Your Feedback</button>
                </div>
            </div>
        </div>
    </div>
</div>