<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
    </title>
    <style>
        .body {
            font-family: TitilliumWeb-Regular;
        }

        .img-responsive {
            max-width: 100%;
            height: auto;
            display: block;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    Hi
    <p>Welcome to SYSTEM INNOVATIVES.</p>
        <p>Please verify your token key.</p>
        <a href="http://innovatives.sptr.co?token=xyZ123" target="_blank">http://innovatives.sptr.co?token=xyZ123</a>
</body>

</html>