<<<<<<< HEAD
@media (min-width(var(--breakpoint-sm))) {}
=======
/* Breakpoint for medium viewport */

@include media-breakpoint-down(sm) {
    p {
        font-size: 16px !important;
    }
    h4 {
        font-size: 1.2rem;
    }
    .login {
        .login-box {
            width: 85%;
            .subtitle {
                padding: 2px !important;
            }
            .custom-form {
                padding: 20px !important;
            }
        }
    }
    .contactus {
        .contactus-box {
            width: 300px;
            .subtitle {
                padding: 2px;
            }
            .custom-form {
                padding: 10px;
            }
        }
    }
    .feedback {
        .feedback-box {
            width: 300px;
            .subtitle {
                padding: 2px;
            }
            .custom-form {
                padding: 10px;
            }
        }
    }
    .home {
        .swiper-container {
            .swiper-button-prev {
                left: 5px;
            }
            .swiper-button-next {
                right: 5px;
            }
        }
        .slider-content {
            bottom: 80px !important;
            left: 30px;
            text-content {
                width: 230px !important;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}
>>>>>>> 87f45b54325e42808f314066b6e7d0e7fafe9190
