/* Breakpoint for medium viewport */

@include media-breakpoint-down(sm) {
    p {
        font-size: 16px !important;
    }
    h4 {
        font-size: 1.2rem;
    }
    .login {
        .login-box {
            width: 300px;
            .subtitle {
                padding: 2px;
            }
            .custom-form {
                padding: 10px;
            }
        }
    }
    .contactus {
        .contactus-box {
            width: 300px;
            .subtitle {
                padding: 2px;
            }
            .custom-form {
                padding: 10px;
            }
        }
    }
    .feedback {
        .feedback-box {
            width: 300px;
            .subtitle {
                padding: 2px;
            }
            .custom-form {
                padding: 10px;
            }
        }
    }
    .home {
        .swiper-container {
            .slider-content {
                position: absolute;
                bottom: 0px;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}