<header class="fixed-top">
    <div class="custom-header">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 text-left">
                    <button class="btn btn-primary text-uppercase" ng-click="goBack()">
                        <i class="fas fa-angle-left"></i> Go Back</button>
                </div>
                <div class="col-sm-4 text-center">
                    INNOVATIVES
                </div>
                <div class="col-sm-4 text-right">
                    <button class="btn btn-danger text-uppercase" ng-click="openContact()">
                        <i class="fas fa-phone-volume"></i> Let's Discuss</button>
                </div>
            </div>
        </div>
    </div>
</header>