<div class="login">
    <div class="container">
        <div class="login-box">
            <div class="text-center title">
                <h4 class="text-uppercase">Login</h4>
                <div class="subtitle">
                    <p>The access is limited to TUI members as it holds ongoing internal projects.</p>
                </div>
            </div>

            <!-- LOGIN FORM -->
            <div class="custom-form">
                <form name="Form2" class="form-group">
                     <div class="form-spacing">
                    <div class="form-group">
                        <label for="email">Email *</label>
                        <input type="email" ng-model="loginForm.email" class="form-control" id="email1" placeholder="Please enter your TUI email"
                            name="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/">
                        <div class="pull-right">
                            <span class="label label-danger" ng-if="!loginForm.email && femailError && !Form2.email.$dirty">Please enter your TUI email</span>
                            <span class="label label-danger" ng-show="Form2.email.$dirty && Form2.email.$error.pattern">Please enter valid email</span>
                        </div>

                    </div>
                     </div>
                     <div class="text-center text-uppercase">
                        <button type="button" class="btn btn-primary text-uppercase send" promise-btn ng-click="submitloginForm(loginForm)">Send Access Link</button>
                    </div>
                    <div ng-if="emailExist text-center">
                        Please check your email for further login details
                    </div>
                    <div ng-if="emailNotExist text-center">
                        User does not exist.
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>