<div class="home">
    <!-- SWIPER SLIDER -->
    <div class="wdh">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <!-- SLIDER IMAGES -->
                <div class="swiper-slide" ng-repeat="s in mySlides">
                    <img class="img-full" src="{{s.img}}">
                </div>
            </div>

            <!-- NAVIGATION BUTTONS -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>


    <!-- OUTCOMES AND EXPERIENCES -->
    <div class="container outnexp">
        <div class="title text-uppercase text-left">
            <h4>OUTCOME & EXPERIENCE</h4>
        </div>
        <!-- <div class="row block">
            <div class="col-sm-4 bg-block" style="background-image:url({{x.img}});" ng-repeat="x in mySlides2">
                <div class="middle">
                    <div class="text">
                        <h3>tui mate</h3>
                        <p>fnjkvdfnjkndjkvfnjknjk</p>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row block">
            <div class="col-sm-4 bg-block" ng-repeat="x in mySlides2">
                <!-- IMAGES -->
                <img class="img-full" src="{{x.img}}">

                <!-- IMAGE CONTENT -->
                <div class="middle">
                    <div class="text">
                        <h3>{{x.textheading}}</h3>
                        <p>{{x.text}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>